
/* Adjust layout so that there is room for the toggle button of the collapsible navigation pane.
   The rule has to match the one used by the core to make the pane collpsible.
 */
@media only screen and (max-width: 1024px) {
	#app-view {
		padding-top: 66px;
	}

	#content.app-music:not(.legacy-layout) #app-navigation:not(.hidden) + #app-content {
		left: 0;
	}
}

#app-navigation + #app-content.tablet #controls {
	padding-left: 20px;
}

.tablet #play-controls {
	margin-left: 20px;
}

.tablet #controls .albumart {
	margin-left: 8px;
	margin-right: 0;
}

.tablet #controls .song-info {
	left: 260px;
}

.tablet #controls:not(.two-line) .song-info {
	width: 200px;
}

.tablet #controls:not(.two-line) .progress-info {
	left: 460px;
	max-width: 350px;
}

.tablet #controls .title {
	font-size: 14px;
}
